<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="horse1" name="Horse1" class="module2MemoryManagement.task1.domain.Horse">
        <property name="id" value="14"/>
        <property name="rider" value="John"/>
        <property name="breed" value="breed8"/>
        <property name="raiting" value="5"/>
    </bean>

    <bean id="horse2" name="Horse2" class="module2MemoryManagement.task1.domain.Horse">
        <property name="id" value="66"/>
        <property name="rider" value="Brad"/>
        <property name="breed" value="breed15"/>
        <property name="raiting" value="2"/>
    </bean>

    <bean id="horse3" name="Horse3" class="module2MemoryManagement.task1.domain.Horse">
        <property name="id" value="93"/>
        <property name="rider" value="Katrin"/>
        <property name="breed" value="breed9"/>
        <property name="raiting" value="6"/>
    </bean>

    <bean id="horse4" name="Horse4" class="module2MemoryManagement.task1.domain.Horse">
        <property name="id" value="13"/>
        <property name="rider" value="Bob"/>
        <property name="breed" value="breed2"/>
        <property name="raiting" value="1"/>
    </bean>

    <bean id="horseService" name="HorseService" class="module2MemoryManagement.task1.service.HorseService">
        <constructor-arg>
            <list>
                <ref bean="horse1"/>
                <ref bean="horse2"/>
                <ref bean="horse3"/>
                <ref bean="horse4"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="emulationService" name="EmulationService" class="module2MemoryManagement.task1.service.EmulationService">
        <constructor-arg>
            <list>
                <value>0</value>
                <value>0</value>
                <value>0</value>
                <value>0</value>
            </list>
        </constructor-arg>
    </bean>

    <!--<bean id="race" name="Race" class="module2MemoryManagement.task1.domain.Race">-->
        <!--<constructor-arg name="durationInSeconds" value="4"/>-->
    <!--</bean>-->

</beans>